<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Литерутар</title>
    <link rel="stylesheet2.css"  href="../styles/StyleSheet2.css" type="text/css" />
    <meta charset="utf-8" />
</head>
<body>
    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead">
                        <img alt="" height="46" src="images3/Снимок.jpg" width="80" />   
        </div>
        <!-- End Masthead -->
        <div id="navigation">
            <ul>
                <li><a href="/">Литература</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/log">Л.Н.Толстой</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/test">А.С.Пушкин</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/pop">М.А.Булгаков</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                 </ul>
    </div>
    </div>
    <!-- End Container -->
<div img=img>
    <p class="center-img">
        <img height="500" src="images2/Лого3.png" width="500" />
    </p>
    </div>
 <div class="text">
<h1>Художественная литература — вид искусства, использующий в качестве единственного материала слова и конструкции естественного языка. Специфика художественной литературы выявляется в сопоставлении с видами искусства, использующими иной материал вместо словесно-языкового (музыка, изобразительное искусство). От прочих видов литературы художественную литературу отличает наличие художественного вымысла. Хyдoжecтвeннaя литepaтypa oбъeдиняeт aвтopcкиe (включaя aнoнимныe) пpoизвeдeния, в oтличиe oт пpинципиaльнo нe имeющиx aвтopa пpoизвeдeний фольклорa.<h1>
 </div>
<div class = "footer-menu"> 
        <div class = "footer-container"> 
        <ul> 
            <li> <a href = "/">Литература</a> </li> 
                <li> <a href="/log">Л.Н.Толстой</a> </li> 
                <li> <a href = "/test">А.С.Пушкин</a> </li>  
                <li><a href="/pop">М.А.Булгаков</a></li>
        </ul>    
        <div class = "clearfix"> </ div> 
        </div> 
    </div>
</html>