<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Литература</title>
    <link href="../styles/StyleSheet6.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>
    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead">
            <img alt="" height="46" src="images3/Снимок.jpg" width="80" />       
        </div>
        <!-- End Masthead -->
        <div id="navigation">
        <ul>
            <li><a href="/">Литература</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/log">Л.Н.Толстой</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/test">А.С.Пушкин</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/pop">М.А.Булгаков</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
             </ul>
    </div>
    </div>
    <!-- End Container -->
 <div img=img>
        <img height="500" src="images2/Лев.jpg" width="500" />
    </div>
    <font color="red" size="5">Лев Николаевич Толстой</font>
    <p><font size="4">9 сентября 1828  – 20 ноября 1910 гг.</p>
    <h1>Биография Толстого</h1><div id='summury_text'>Александр Сергеевич Пушкин (1799-1837 гг.) – великий русский поэт, прозаик, драматург. Автор бессмертных произведений в стихах и прозе: романов &#8220;Евгений Онегин&#8221;, &#8220;Дубровский&#8221;, известных поэм &#8220;Руслан и Людмила&#8221;, &#8220;Кавказский пленник&#8221;, повести &#8220;Пиковая дама&#8221; и многих других, а также сказок для детей.</div>
    <!--noads_start--><noindex>
    <h2 id="sub1">Ранние годы</h2>
    <p>
       Лев Николаевич Толстой (1828–1910 гг.) — выдающийся русский писатель, публицист, мыслитель, один из великих романистов в мировой литературе. Биография Толстого Льва Николаевича полна интересных фактов и событий, он был необыкновенной, уникальной личностью. Изучение его жизни и творчества будет полезно для учеников всех классов.
    </p>
    <div id="tgroup_44"></div>
    <h2 id="sub2">Образование и начало творческого пути</h2>
    <p>Его образованием первоначально занимался гувернёр-француз Сен-Тома́ (прототип St.-Jérôme в повести «Отрочество»), заменивший собою добродушного немца Ресельмана, которого Толстой изобразил в повести «Детство» под именем Карла Ивановича.</p>
    <p>В 1843 году П. И. Юшкова, взяв на себя роль опекунши своих несовершеннолетних племянников (совершеннолетним был только старший — Николай) и племянницы, привезла их в Казань. Вслед за братьями Николаем, Дмитрием и Сергеем Лев решил поступить в Императорский Казанский университет (наиболее славившийся в то время), где работали на математическом факультете Лобачевский, а на Восточном — Ковалевский. 3 октября 1844 года Лев Толстой был зачислен студентом разряда восточной (арабско-турецкой) словесности в качестве своекоштного — оплачивающего своё обучение[11]. На вступительных экзаменах он, в частности, показал отличные результаты по обязательному для поступления «турецко-татарскому языку». По результатам года имел неуспеваемость по соответствующим предметам, не выдержал переходного экзамена и должен был заново пройти программу первого курса.</p>
    <h2 id="sub3">Творчество поэта</h2>
    <p>Творческий путь Толстого берет свое начало на Кавказе, где Толстой провел три года. Именно там он сочинил повесть «Детство», вслед за которой последовали повести «Отрочество» и «Юность», составившие автобиографическую трилогию.
    </p>
    <h2 id="sub5">Личная жизнь</h2>
    <p>В краткой биографии Льва Толстого важно отметить, что его избранницей стала 18-летняя Софья Берс, которая была младше супруга на 16 лет. Этот брак оказался удачным, хотя между супругами не раз возникали разногласия.
В 1863 году в семье произошло пополнение: родился первенец четы Толстых. Есть сведения, что всего Софья Андреевна родила 13 детей, пятеро из которых не дожили до взрослого возраста. Долгие годы она была верной подругой и соратницей Льва Николаевича, всячески помогала и поддерживала, полностью оградила от решения бытовых вопросов.
Скончался Лев Николаевич Толстой 7 (20) ноября 1910 года, на 83-м году жизни. Причиной смерти стала банальная простуда, которая дала тяжелейшее осложнение — крупозное воспаление легких. Писатель был похоронен, как он сам завещал, в Ясной Поляне, на краю оврага в лесу. Здесь прошли его счастливые годы, и здесь они с братьями в детстве искали «зелёную палочку», способную сделать всех людей счастливыми.</p>
    <h2 id="sub6">Последние годы жизни</h2>
    <p>После нескольких лет светской жизни в Москве и Санкт-Петербурге, военной службы на Кавказе и путешествий по Европе Толстой вернулся в Ясную Поляну и прожил там последние пятьдесят лет. Здесь он написал лучшие произведения: "Война и мир", "Анна Каренина", "Воскресение". В 1879 году в работе "Исповедь" Лев Толстой рассказывает о перевороте в своих взглядах, о разрыве с идеологией дворянского класса, о переходе на сторону "простого трудового народа".

В ночь с 27 на 28 октября 1910 года Толстой тайно покинул Ясную Поляну, решив прожить последние годы, отрекшись от "круга богатых и ученых". В дороге простудился и умер на 83-м году жизни 7 ноября от крупозного воспаления легких.</p>
    <div class="block-hron-table">
    </div>
    <div class="block-otherbio">
    </div>
    </div>
</body>
<div class = "footer-menu"> 
        <div class = "footer-container"> 
        <ul> 
            <li> <a href = "/">Литература</a> </li> 
                <li> <a href="/log">Л.Н.Толстой</a> </li> 
                <li> <a href = "/test">А.С.Пушкин</a> </li>  
                <li><a href="/pop">М.А.Булгаков</a></li>
        </ul>    
        <div class = "clearfix"> </ div> 
        </div> 
    </div>
</html>