<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>М.А.Булгаков</title>
    <link href="StyleSheet3.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>
<body>
    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead">
                        <img alt="" height="46" src="images3/Снимок.jpg" width="80" />   
           
        </div>
        <!-- End Masthead -->
        <div id="navigation">
         <ul>
            <li><a href="/">Литература</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/log">Л.Н.Толстой</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/test">А.С.Пушкин</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
                                 <li><a href="/pop">М.А.Булгаков</a></li>
                &nbsp;&nbsp;&nbsp;&nbsp;
             </ul>
        </div>
    </div>
    <!-- End Container -->
    <div img=img>
        <img height="500" src="images2/Булгаков.png" width="500" />
    </div>
    <font color="red" size="5">Михаил Афанасьевич Булгаков</font>
    <p><font size="4">15 мая 1891 – 10 марта 1940 гг.</p>
    <h1>Биография Булгакова</h1><div id='summury_text'>ВМихаил Афанасьевич Булгаков (1891–1940 гг.) – русский писатель, драматург, режиссер, один из лучших авторов первой половины ХХ века. Создатель гениальных романов «Мастер и Маргарита», «Белая гвардия», «Собачье сердце». Его пьесы пользовались огромным успехом с середины 1920-х годов, однако романы оценили по достоинству только после его смерти.
    <h2 id="sub1">Ранние годы</h2>
    <p>
    Михаил Булгаков родился 3 (15) мая 1891 года в Киеве в семье преподавателя духовной академии Афанасия Ивановича Булгакова. С 1901 года будущий писатель получал начальное образование в Первой Киевской гимназии. В 1909 году поступил в Киевский университет на медицинский факультет. На втором курсе, в 1913 году, Михаил Афанасьевич женился на Татьяне Лаппе.
Окончив в 1916 году университет, Булгаков устроился на работу в один из киевских госпиталей. Летом 1916 года его направили в село Никольское Смоленской губернии. В краткой биографии Булгакова нельзя не упомянуть, что в этот период писатель пристрастился к морфию, но благодаря стараниям жены смог победить зависимость.
Во время гражданской войны в 1919 году Булгаков был мобилизован как военный врач в армию Украинской Народной республики, а затем в армию Южной России. В 1920 году Михаил Афанасьевич заболел тифом, поэтому не смог покинуть страну с Добровольческой армией.
</p>
    <div id="tgroup_44"></div>
    <h2 id="sub2">Образование и начало творческого пути</h2> 
<p>В 1921 году Булгаков переезжает в Москву. Он активно занимается литературной деятельностью, начинает сотрудничать со многими периодическими изданиями Москвы: «Гудок», «Рабочий» и др., принимает участие в заседаниях литературных кружков. В 1923 году Михаил Афанасьевич вступает во Всероссийский Союз писателей, в котором также состояли А. Волынский, Ф. Сологуб, Николай Гумилев, Корней Чуковский, Александр Блок.
В 1924 году Булгаков развелся со своей первой женой и уже через год, в 1925 году, женился на Любови Белозерской.
В 1924–1928 годах Булгаков создает самые известные свои произведения: «Дьяволиада», «Собачье сердце», «Вьюга», «Роковые яйца», роман «Белая гвардия» (1925 г.), «Зойкина квартира», пьесу «Дни Турбиных» (1926 г.), «Багряный остров» (1927 г.), «Бег» (1928 г.).
В 1926 году во МХАТе была премьера пьесы «Дни Турбиных» – произведение поставили по личному указанию Сталина.
В 1929 году Булгаков посещает Ленинград, где знакомится с Е. Замятиным и Анной Ахматовой. Из-за острой критики революции в своих произведениях (в частности, в драме «Дни Турбиных»), Михаила Афанасьевича несколько раз вызывали на допросы в ОГПУ. Булгакова перестают печатать, его пьесы запрещено ставить в театрах.
</p>
    <h2 id="sub6">Последние годы жизни</h2>
    <p>В 1930 году Михаил Афанасьевич лично написал письмо И. Сталину с просьбой предоставить ему право покинуть СССР либо разрешить зарабатывать на жизнь. После этого писатель смог устроиться режиссером-ассистентом во МХАТ. В 1934 Булгакова приняли в Советский союз писателей, председателями которого в разное время были Максим Горький, Алексей Толстой, А. Фадеев.
В 1931 году Булгаков расстается с Л. Белозерской и в 1932 году женится на Елене Шиловской, с которой был знаком уже несколько лет.
Михаил Булгаков, биография которого была насыщена разными по характеру событиями, последние годы сильно болел. У писателя диагностировали гипертонический нефросклероз (болезнь почек). 10 марта 1940 года Михаил Афанасьевич скончался. Похоронили Булгакова на Новодевичьем кладбище в Москве.
</p>
    <div class="block-hron-table">
    </div>
    <div class="block-otherbio">
    </div>
    </div>
</body>
<div class = "footer-menu"> 
        <div class = "footer-container"> 
        <ul>  
            <li> <a href = "/">Литература</a> </ li> 
                <li> <a href="/log">Л.Н.Толстой</a> </ li> 
                <li> <a href = "/test">А.С.Пушкин</a> </ li>  
                <li><a href="/pop">М.А.Булгаков</a></li>
        </ul>    
        <div class = "clearfix"> </ div> 
        </ div> 
    </ div>
</html>