<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>А.С.Пушкин</title>
    <link href="../styles/StyleSheet.css" rel="stylesheet"/>
    <meta charset="utf-8" />
</head>
<body>
    <!-- Begin Container -->
    <div id="container">
        <!-- Begin Masthead -->
        <div id="masthead">
            <img alt="" height="46" src="images3/Снимок.jpg" width="80" />       
        </div>
        <!-- End Masthead -->
        <div id="navigation">
            <ul>
                <li><a href="/">Литература</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/log">Л.Н.Толстой</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/test">А.С.Пушкин</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                                     <li><a href="/pop">М.А.Булгаков</a></li>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                 </ul>
    </div>
    </div>
    <!-- End Container -->
    <div img=img>
        <img height="500" src="images/Пушкин1.png" width="500" />
    </div>
    <font color="red" size="5">Александр Сергеевич Пушкин</font>
    <p><font size="4">6 июня 1799 – 10 февраля 1837 гг.</p>
    <h1>Биография Пушкина</h1><div id='summury_text'>Александр Сергеевич Пушкин (1799-1837 гг.) – великий русский поэт, прозаик, драматург. Автор бессмертных произведений в стихах и прозе: романов &#8220;Евгений Онегин&#8221;, &#8220;Дубровский&#8221;, известных поэм &#8220;Руслан и Людмила&#8221;, &#8220;Кавказский пленник&#8221;, повести &#8220;Пиковая дама&#8221; и многих других, а также сказок для детей.</div>
    <!--noads_start--><noindex>
    <h2 id="sub1">Ранние годы</h2>
    <p>
        Александр Сергеевич Пушкин родился 6 июня (по старому стилю 26 мая) 1799 года в Москве в семье нетитулованного дворянского рода. Прадедом поэта по матери был африканец Абрам Петрович Ганнибал, являвшийся воспитанником и слугой царя Петра I</a>.<div class="ads-block ads-bio ads-desktop ads-top" style="min-height: 290px;">
        В семье, кроме Александра Сергеевича, было еще двое детей &#8211; сын Лев и дочь Ольга. С 1805 по 1810 год Пушкин проводил много времени (особенно летом) у своей бабушки в подмосковном селе Захарове. Именно бабушка наняла Арину Родионовну Яковлеву, няню, которую так полюбил юный Пушкин.
    </p>
    <div id="tgroup_44"></div>
    <h2 id="sub2">Образование и начало творческого пути</h2>
    <p>В 1811 году Пушкин учился в Царскосельском Лицее. В биографии Пушкина важно выделить, что впервые его стихи появляются в печати в 1814 году, в журнале «Вестник Европы», где публикуется его стихотворение «К другу-стихотворцу». В этот же период поэта принимают в литературное общество «Арзамас».</p>
    <p>Вольтер и Эварист Парни были любимыми авторами юного Пушкина.</p>
    <p>На дальнейшее творчество молодого Пушкина огромное влияние оказали труды таких классиков русской литературы, как Батюшков, Жуковский, Фонвизин и Радищев.</p>
    <p>Пушкин оканчивает лицей в 1817 году и выпускается в чине коллежского секретаря 12-го класса, после чего его определяют в Коллегию иностранных дел.</p>
    <h2 id="sub3">Творчество поэта</h2>
    <p>В 1819 году Пушкина принимают членом литературно-театрального сообщества «Зелёная лампа». В этот же период он активно работает над поэмой «Руслан и Людмила» (1820).</p>
    <p>В 1821 году Пушкин пишет поэму «Кавказский пленник», которая делает его одним из величайших литераторов среди современников. Через год начинается работа над «Евгением Онегиным» (1823-1832).</p>
    <p>
        В 1832 году поэт задумывает создать исторический роман о временах пугачевщины, для чего изучает все доступные материалы (многие из них засекречены на то время), объезжает многие места, где проходило восстание. После всех этих путешествий осенью 1833 года пишет «Историю Пугачёва» и «Песни западных славян», а также поэмы «Анджело» и <           
        </div> В это же время Пушкин начинает работу над романом «Дубровский», в котором главному герою приходится стать разбойником.
    </p>
    <h2 id="sub4">Ссылки</h2>
    <p>Политическая лирика Пушкина 1817—1820 гг. («Вольность», «К Чаадаеву», «Деревня») вызвали гнев Александра I, и Александр Сергеевич мог быть сослан в Сибирь. Только благодаря стараниям и влиянию Карамзина, Жуковского и ссылки в Сибирь удалось избежать. Так, в мае 1820 г. Пушкин под видом служебного перемещения выслан на юг России.</p><div class="ads-block ads-bio ads-desktop ads-center2">
    <p>Во время южной ссылки Пушкин очень увлекся творчеством Байрона.</p>
    <p>В одном из своих писем Пушкин иронически отозвался о религии. Письмо перехватили и донесли Александру I. Результатом стало увольнение Пушкина со службы и его вторая ссылка, в село Михайловское (1824—1826).</p>
    <h2 id="sub5">Личная жизнь</h2>
    <p>В 1830 году Пушкин сватается к Наталье Гончаровой, а 18 февраля (2 марта по старому стилю) 1831 года Пушкин и Гончарова венчаются в Москве. Весной молодожены переезжают в Царское Село, где снимают дачу. В 1836 году в семье было уже четыре ребенка.</p>
    <h2 id="sub6">Последние годы жизни</h2>
    <p>Важно отметить такой момент в биографии Пушкина:  после повышения в чин камер-юнкера, Александр Пушкин принимает решение покинуть службу и подает в отставку. Положение поэта выглядит и вовсе бедственно, поскольку многие произведения Пушкина не допускаются к печати из-за цензуры (например, поэма «Медный всадник»).</p>
    <p>В 1834 году Пушкин дописывает повесть «Пиковая дама», которую немедленно отсылает в журнал «Библиотека для чтения». За повесть он получает высокий гонорар, но решить финансовые вопросы так и не удается.</p>
    <p>В 1836 году Александр Сергеевич Пушкин решает издавать журнал «Современник». Однако популярностью у публики журнал не пользуется. В четвёртом томе этого журнала был впервые напечатан исторический роман «Капитанская дочка»</a>.</p>
    <p>В 1837 году между Александром Сергеевичем Пушкиным и Жоржем Дантесом возник конфликт. Пушкин вызывает Дантеса на дуэль, и в результате получает смертельное ранение в живот.</p>
    <p>Император Николай I, зная о тяжелом состоянии поэта, обещает обеспечить достатком семью и выплатить все долги. Впоследствии монарх выполнил все обещания. Умер поэт 29 января (10 февраля) 1837 года.</p>
    <div class="block-hron-table">
    </div>
    <div class="block-otherbio">
    </div>
    </div>
</body>
<div class = "footer-menu"> 
        <div class = "footer-container"> 
        <ul>  
            <li> <a href = "/">Литература</a> </li> 
            <li> <a href="/log">Л.Н.Толстой</a> </li> 
            <li> <a href = "/test">А.С.Пушкин</a> </li>  
            <li><a href="/pop">М.А.Булгаков</a></li>
        </ ul>    
        <div class = "clearfix"> </ div> 
        </ div> 
    </ div>
</html>