html,body {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 88%;
    font-style: normal;
    
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    position: relative;
}

#masthead {

    width: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
}

#masthead img {

    float: left;
    margin: 0;
    padding: 0;
}

#masthead p {

    font-size: small;
    text-align: right;
    color: black;
    margin: 10px 10px 10px 0;
    padding: 0;
}
#navigation {

    overflow: hidden;
    background-color:  #CCAA77;
    
}

.footer-menu{
            padding:1em 1;
            box-shadow: 0 0px 10px #ccc;
            background-color: #fff;
        }
        .footer-container{
            width:40%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .footer-menu ul li{
            display:inline-block;
        }
        .footer-menu ul li a{
            color:#6E6E6E;
            margin:0 1em;
            font-size:1.2rem;
            text-decoration:none;
        }
        .footer-menu ul li a:hover{
            color:#EE7B00;
        }
        p.copy-right{
            font-size:1em;
        }
        p.copy-right a{
            color:#D46E00;
            text-decoration:none;
        }
        p.copy-right a:hover{
            color:#25221C;
        }


#navigation li {

    position: left;
    display: inline-block;
}

#navigation a {

    color: black;
    border-color: #ccaa77;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    display: block;
    text-decoration: none;
    background-color: #ddcc88;
}

#navigation a:hover {

    color: black;
    border-width:9px;
    border-style: solid;
    border-color: #ed9 ;
    background-color: #ed9; 
    text-decoration: none; 
}

#navigation ul {

    padding: 0;
    margin: 0;
}

#page_content {
    padding-left: 0px;
    display: table; 
    width : 100%; 
    text-align : left; 
    padding-bottom: 80px; 
    border-top-style: solid; 
    border-top-color: #CCAA77; 
    position: relative;  
}

#column_1 {
    position: left; 
    text-decoration: none; 
    border-spacing: 0; 
} 

#column_1 h1 {

    text-align: center; 
}

#column_1_content p {
    position: relative; 
    text-align: left; 
    font-weight: normal; 
}

#column_r {

    width: 33%; 
    padding: 10px; 
    margin: 0px; 
    background-color: #cdf; 
    border:0px;
    font-weight: normal; 
}

#column_r h2{

    color:#506f8e; 
}

#column_r p{

    text-align:left; 
}

footer {
    
    width:auto; 
    background-color: #dfcfbf;
    scroll-behavior: auto; 
    height: 60px;
    margin-bottom: 0%;
}

 #footer_content {

    background-color: #dfcfbf;
    padding-top: 4px;
    padding-bottom: 6px;
    margin: 167px 0px 0px 0px;
    width:100%;
    position: bottom;
    text-align: center;
    text-size-adjust: 1;
}

    #footer_content a {

    color: black; 
    text-decoration: none; 
    display: inline-block;
    float: none; 
}